:root {
	--color-main: #141414;
	--color-secondary: #fff;
}


body {
	background-color: var(--color-main);
	color: var(--color-secondary);
	font-family: 'Crimson Pro', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh; /* Ensures full height for centering */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.logo {
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 50vw;
	max-height: 50vh;
}

h1 {
	font-size: 40pt;
	font-weight: 500;
	margin: 20px 0;
}

footer {
	background-color: var(--color-main);
	color: var(--color-secondary);
	padding: 20px 0;
}

.button {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	color: var(--color-secondary);
	background-color: var(--color-main);
	font-size: 18pt;
	font-weight: 300;
	margin: 5px;
}

.button:hover {
	background-color: var(--color-secondary);
	color: var(--color-main);
}

@media only screen and (max-width: 768px) {
	.container {
	  flex-direction: column;
	}
  }